.rows {
	display: flex;
	gap: 1rem;
}

.tags_container {
	display: flex;
	gap: 0.5rem;
	margin: 5px 0 15px 0;
}

.clickable_tag {
	cursor: pointer;
	border-radius: 5px;

	font-size: medium;
}

.clickable_tag_selected {
	@extend .clickable_tag;
	box-shadow: 0 0 0 1px rgb(var(--card-border-rgb));
}
