.button_link {
	color: transparent;
	background-color: transparent;
	border: 0;

	cursor: pointer;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.mod_container {
	padding: 0;

	div {
		padding: 0 !important;
	}

	h1,
	p {
		word-break: break-all;
		white-space: unset !important;
	}

	svg {
		height: var(--preview-height);
	}
}

.custom_form {
	display: flex;
	margin-top: 1rem;
	gap: 1rem;

	* {
		font-family: var(--font-mono);
	}

	input {
		outline: none;
		background-color: rgb(var(--background-secondary-rgb));
		padding: 8px;
		font-size: clamp(10px, 14px, 16px);
		vertical-align: baseline;

		width: clamp(100px, 266px, 280px);

		border-radius: var(--border-radius);
		border: 2px solid rgb(var(--primary-border-rgb));
	}
	button {
		cursor: pointer;
		background-color: rgb(var(--background-secondary-rgb));
		padding: 8px;

		border-radius: var(--border-radius);
		border: 2px solid rgb(var(--primary-border-rgb));
	}
}
