.card_preview {
	height: 200px;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;

	box-shadow: var(--border-shadow);
	position: relative;

	.tags_container {
		margin-top: 5px;
		display: flex;

		gap: 0.5rem;
	}

	.description {
		padding: 10px;
	}

	.prob_prev {
		height: 200px;
	}

	h1,
	p {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
