.table {
	box-shadow: var(--border-shadow);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: var(--border-radius);

	.upper {
		th {
			border-bottom: 2px solid rgb(var(--primary-border-rgb));
		}
	}

	td,
	th {
		padding: 5px 2px 5px 2px;
	}
}
